*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 100%;
   
}


body{
    font-family: 'Montserrat', sans-serif;
}
/* CLASSI UTILITIES */
.row{
    display: flex;
    height: 100%;
    /* width: 100%; */
}
.flex{
    display: flex;
    
}
.wrap{
    flex-wrap: wrap;
    justify-content: center;
}
.justify-end{
    justify-content: end;
}
.space-between{
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style: none;
}

.position-relative{
    position: relative;
}

img{
    width: 100%;
}
/* CLASSI TOP-BAR */
.top-bar{
    width: 100%;   
    height: 100px; 
    background-color: rgba(0, 0, 0, 0.409);
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.col-nav{
    width: 80%;
    background-color: beige;
    align-self:flex-start;
}

ul li{
    padding: 10px 20px;
}

.col-top button{
    border: 1px solid white;
    padding: 8px 15px;
    margin-right: 10px;
    background-color: transparent;
    color: white;
    border-radius: 20px;
    font-weight: 700;
    font-family : inherit;
}
.menu-nav{

}

.row.top{
   align-items: center;
}

/* CLASSI SIDE-BAR */
.side-bar{
    width: 200px;
    background-color: black;
    z-index: 5;
    color: white; 
}

.side-content{
    height: 100%;
}

.playlist{
    overflow-y:scroll;
    height: 40vh;
}

.playlist li, .navigazione li{
    display: flex;
}
.icon{
    padding-right: 10px;
}


.user{
    position: absolute;
    bottom:0;
}


/* CLASSI MAIN */
.main-section{
    width: calc(100vw - 200px);
    padding: 100px 0;
    height: calc(100vh - 100px);
    background-color: coral;
    overflow-y: scroll;
    
   
}
.col-100{
    width: calc(100% - 20px);
    background-color: beige;
    margin: 10px;
}
.col-img{
    width: calc(100%/6 - 20px);
    /* height: 150px; */
    background-color: darkgreen;
    margin:10px;
    text-align: center;
    color:lightgray
}

.col-img h2{
    color: white;
}

/* CLASSI FOOTER */
footer{
    height: 100px;
    background-color: darkblue;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

.col-footer{
    width: 20%;
    height: 70px;
    background-color: cornsilk;
    min-width: none;
}

/* CLASSI RESPONSIVE */

/* RESPONSIVE MD */
@media screen and (max-width:991px){
    .container{
        max-width: 991px ;
    }

    .col-img{
        width: calc(100%/4 - 20px);
    }

    footer{
        max-width: 991px 
    }

    .content.flex{
        flex-wrap: wrap;
    } 
}

/* RESPONSIVE S */
@media screen and (max-width:768px){
    .container{
        max-width: 768px ;
    }
    .col-img{
        width: calc(100%/2 - 20px);
    }


    footer{
        max-width: 768px 
    }

}

/* RESPONSIVE XS */
@media screen and (max-width:600px){
    .container, footer{
        max-width: 600px ;
    }
    /* CLASSI SIDE-BAR */
    .side-bar{
        width: 50px;
    }
    .icon{
        display: block;
    }
    .icon-description, .playlist{
        display: none;
    }
    /* CLASSI TOP-BAR */
    .col-nav{
        width: 100%;
        background-color: beige;
        align-self:flex-start;
    }
    
    /* CLASSI MAIN */
    .main-section{
        width: calc(100vw - 50px);
    }

    /* CLASSI FOOTER */
    


}
